@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

h1 {
  color:#6c77bc;
}

dt {
  font-weight: bold;
  color: #7f7f7f;
}

*, *:before, *:after {
  box-sizing: inherit;
}